<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">

    <!-- Medium Style Editor -->
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static "css/blog.css" %}">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Russo+One&display=swap" rel="stylesheet">

    {% block title %}
    {% endblock %}
</head>
<body class="loader">
    <!-- Base Navbar -->
    <nav class="navbar navbar-dark bg-primary techfont">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li><a class="navbar-brand bigbrand" href="{% url 'blog:post_list' %}">Azimbek's blog</a></li>
                <li><a class="nav-link" href="{% url 'blog:about' %}">About</a></li>
{#                <li><a class="nav-link" href="{% url 'admin:index' %}">Admin</a></li>#}
            </ul>

            <ul class="navbar-nav justify-content-end">
                {% if user.is_authenticated %}
                    <li><a class="nav-link" href="{% url 'blog:post_new' %}">New Post</a></li>
                    <li><a class="nav-link" href="{% url 'blog:post_draft_list' %}">Drafts</a></li>
                    <li><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                    <li><a class="nav-link">Welcome, {{ user.username }}</a></li>
                {% else %}
                    <li><a class="nav-link" href="{% url 'login' %}">
                        <span class="bi bi-person-circle" style="font-size: 2em;">Login</span></a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <!-- Base Container -->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="blog_posts">
                    {% block body_block %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>